body{
    background-color: #000;
    background-image: url("./static/img/backgroud.png");
}

.rounded-circle{
    box-shadow: rgba(255, 255, 255, 0.479) 0px 5px, rgba(255, 255, 255, 0.3) 0px 10px, rgba(255, 255, 255, 0.438) 0px 15px, rgba(255, 255, 255, 0.1) 0px 20px, rgba(255, 255, 255, 0.05) 0px 25px;
}

.title-banner {
    filter: contrast(150%);
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgba(255, 255, 255);
}


/* Estilo para o banner */
#banner {
    background-image: url('./static/img/banner.png');
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
}

#banner img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid white;
}

#contato img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid rgba(55, 165, 255);
    box-shadow: rgba(55, 165, 255, 0.479) 0px 5px, rgba(55, 165, 255, 0.3) 0px 10px, rgba(55, 165, 255, 0.438) 0px 15px, rgba(55, 165, 255, 0.1) 0px 20px, rgba(55, 165, 255, 0.05) 0px 25px;
}

/* Estilo para a seção sobre */
#sobre {
    background-color: transparent;

}

#sobre p {
    font-size: 1.2rem;
}

/* Estilo para a seção de conhecimentos */
#conhecimento .card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para a seção de projetos */
#projetos .card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para a seção de contato */
#contato .form-control {
    border-radius: 0;
}

#contato button {
    border-radius: 0;
}

.card-img-top{ 
    height: auto !important;
    min-height: 200px !important;
}

.carousel-item {
    display: flex;
    justify-content: center;
}
.carousel-item .col-md-4 {
    flex: 1;
    margin: 0 15px;
}

.button-icon{
    border-radius: 50%;
    background-color: rgb(220, 53, 69) !important;
    border-color: rgb(220, 53, 69) !important;
    box-shadow: rgba(220, 53, 69, 0.479) 0px 5px, rgba(220, 53, 69, 0.3) 0px 10px, rgba(220, 53, 69, 0.438) 0px 15px, rgba(220, 53, 69, 0.1) 0px 20px, rgba(220, 53, 69, 0.05) 0px 25px;
}
